 html{
   height: 100%;
 }
:root {
  --background: white;
  --fontcolor: black;
}

body{
  margin: 0;
  font-family: Arial;
  background-color: var(--background);
  color: var(--fontcolor);
  height: 100%;
}

.container-table {
  margin: auto;
  width: 80%;
  text-align: center;
  float: right;
  height: 100%;

}
 .container-login{
   margin: auto;
   width: 80%;
   text-align: center;
 }
.nav-test {
  position:relative;
}

.login-box {
  margin-top: 10%;
}

.bar-list {
  list-style-type: none;
  text-decoration: none;
}

.drop-down{
  margin-left: 0%;
}

.logout-btn{
  margin-right: 1%;
}

.btn-update{
  float:left;
  margin-left: 1%;
}
.btn-add{
  float:right;
  margin-right: 1%;
}

#overlay {
 display: none;
 position: fixed;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 z-index: 1;
 background-color: rgba(0, 0, 0, 0.5);
}

.js-input {
 width: 100%;
 height: 25px;
 margin: auto auto 10px;
}

.tot-price{

}
