:root {
  --background: white;
  --fontcolor: black;
}

body{
  margin: 0;
  font-family: Arial;
  background-color: var(--background);
  color: var(--fontcolor);
}

.container1 {
  margin: auto;
  width: 60%;
  text-align: center;
  float: right;

}

.login-box {
  margin-top: 10%;
}

.bar-list {
  list-style-type: none;
  text-decoration: none;
}

.drop-down{
  margin-left: 1%;
}

.logout-btn{
  margin-right: 1%;
}
