:root {
  --background: white;
  --fontcolor: black;
}

body{
  margin: 0;
  font-family: Arial;
  background-color: var(--background);
  color: var(--fontcolor);
}

.container {
  margin: auto;
  width: 75%;
  text-align: center;
}

.login-box {
  margin-top: 10%;
}

.bar-list {
  list-style-type: none;
  text-decoration: none;
}
